babyName.pckl
babyGender.pckl
lib/__pycache__/AboutPage.cpython-38.pyc
lib/__pycache__/fidgitSpinner.cpython-38.pyc
lib/__pycache__/relaxingAutoPaint.cpython-38.pyc
lib/__pycache__/youtubeAudioDownloader.cpython-38.pyc
.vscode/settings.json
